* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --lime-to-cyan: linear-gradient(
    117deg,
    var(--lime-green),
    var(--bright-cyan)
  );
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fafafa;
}

.df {
  display: flex;
}

nav {
  background-color: white;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  position: relative;
  z-index: 50;
}

nav img {
  width: 20rem;
  height: 2.7rem;
}

nav .ham {
  display: none;
}

nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

nav ul li {
  font-size: 1.8rem;
  height: 100%;
  color: var(--grayish-blue);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-out;
}
nav ul li:hover {
  border-bottom: 4px solid;
  border-image: linear-gradient(117deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: var(--dark-blue);
  border-image-slice: 1;
}

.close {
  display: none;
}

.request {
  font-size: 2.1rem;
  padding: 1.3rem 2.9rem;
  color: white;
  border-radius: 2.7rem;
  background: var(--lime-to-cyan);
  cursor: pointer;
}

.request:hover {
  background: linear-gradient(
    117deg,
    hsla(140, 60%, 51%, 0.85),
    hsla(192, 70%, 51%, 0.85)
  );
}

.banner {
  display: block;
  height: calc(100vh - 13.5vh);
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
}

.banner img:first-child {
  position: absolute;
  top: -20rem;
  right: -47rem;
  height: 120rem;
}

.banner img:nth-child(3) {
  position: absolute;
  right: -15.9rem;
  top: -5.9rem;
  width: 95rem;
  height: 120rem;
}

.banner img:nth-child(2) {
  display: none;
}

.banner-txt {
  margin-left: 21rem;
  padding-top: 21rem;
  height: 42rem;
}

.banner-txt h1 {
  font-size: 7.3rem;
  font-weight: 250;
  color: var(--dark-blue);
}

.banner-txt p {
  font-size: 2.4rem;
  margin-top: 3rem;
  line-height: 3.5rem;
  margin-bottom: 5.5rem;
  width: 60rem;
  color: var(--grayish-blue);
}

.banner-txt div {
  display: inline;
  margin-top: 10rem;
}

nav-links {
  display: none;
}

.features {
  display: block;
  background-color: hsl(220, 16%, 96%);
  height: fit-content;
  width: 100vw;
}

.dfc {
  display: flex;
  flex-direction: column;
}

.ft-header {
  padding-top: 10rem;
  font-size: 12rem;
  padding-left: 21rem;
}

.ft-header h1 {
  font-size: 5.5rem;
  font-weight: 250;
  display: block;
  color: var(--dark-blue);
}

.ft-header p {
  font-size: 2.4rem;
  margin-top: 3rem;
  width: 80rem;
  line-height: 1.8;
  color: var(--grayish-blue);
}

.feature {
  justify-content: space-around;
  align-items: center;
  width: 81vw;
  margin: auto;
  margin-top: 8rem;
  padding-bottom: 8rem;
}

.feature img {
  height: 9rem;
  width: 9rem;
}

.feature p {
  display: inline;
  font-size: 2rem;
  width: 33rem;
  margin-top: 3rem;
  line-height: 1.7;
  color: var(--grayish-blue);
}

.feature h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 5rem;
  color: var(--dark-blue);
}

.articles {
  background-color: hsl(0, 0%, 98%);
}

.articles h1 {
  font-size: 4.5rem;
  padding-left: 21rem;
  font-weight: 300;
  margin-top: 10rem;
  color: var(--dark-blue);
}

.cards {
  justify-content: space-around;
  width: 80vw;
  margin: auto;
  gap: 4rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.card {
  flex: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 2.5rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.025),
    -0.1rem -0.1rem 0.1rem rgba(0, 0, 0, 0.025);
}

.card img {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 25rem;
}

.author {
  font-size: 1.3rem;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  color: var(--grayish-blue);
}

.cd-title {
  font-size: 2.1rem;
  font-weight: 450;
  margin-left: 2.5rem;
  width: 25rem;
  cursor: pointer;
  color: var(--dark-blue);
}
.cd-title:hover {
  color: var(--bright-cyan);
}
.card p {
  margin-top: 1.5rem;
}

.des {
  color: var(--grayish-blue);
  font-size: 1.6rem;
  width: 26rem;
  margin-left: 2.5rem;
}

/**/
footer {
  padding: 3.4rem 19.2rem;
  display: flex;
  justify-content: space-between;
  background: #2d314e;
  color: #bdc1cf;
  font-size: 1.92rem;
}
.left-footer {
  display: flex;
  justify-content: space-between;
  gap: 16rem;
}
.logos {
  display: flex;
  gap: 1.6rem;
}

.logos svg {
  cursor: pointer;
  fill: white;
}

.logos svg:hover {
  fill: var(--lime-green);
}

.first {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second,
.third {
  margin-top: 2rem;
}

.logo img {
  width: 100%;
}

.first > img {
  width: 90%;
}
.second > p,
.third > p {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  cursor: pointer;
  color: var(--very-light-gray);
}

.third p:hover,
.second p:hover {
  color: var(--lime-green);
}

.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin: 1rem 0;
}

.request-btn {
  font-size: 1.6rem;
}

.right-footer p {
  font-size: 1.9rem;
  color: var(--grayish-blue);
}

@media (max-width: 1820px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1620px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 50%;
  }
  .banner-txt {
    margin-left: 14rem;
  }
  .banner-txt p {
    width: 60rem;
  }
  .banner {
    height: calc(100vh - 30.5vh);
  }
}

@media (max-width: 1390px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 375px) {
  body,
  html {
    overflow-x: hidden;
    font-size: 25%;
  }
  .request {
    display: none;
  }
  nav ul {
    display: none;
  }
  nav {
    height: 17rem;
  }
  nav {
    padding: 0 6rem 0 6rem;
    justify-content: space-between;
  }
  nav img {
    width: 35rem;
    height: 5.5rem;
  }
  nav .ham {
    display: block;
    width: 7.5rem;
    height: 3.9rem;
  }
  .banner {
    height: fit-content;
    display: flex;
    position: relative;
    justify-content: center;
  }
  .banner img:first-child {
    display: none;
  }
  .banner img:nth-child(2) {
    display: block;
    position: absolute;
    top: -26rem;
    height: 115rem;
  }
  .banner img:nth-child(3) {
    position: absolute;
    right: 3rem;
    top: -28.8rem;
    width: 85rem;
    height: 100rem;
  }
  .banner-txt {
    height: fit-content;
    padding-top: 80rem;
    z-index: 35;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner-txt h1 {
    font-size: 9rem;
    text-align: center;
  }
  .banner-txt p {
    text-align: center;
    font-size: 3.5rem;
    line-height: 5rem;
    width: 75rem;
  }
  .banner-txt div,
  .br {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 3.7rem 11rem;

    margin-bottom: 15rem;
    font-size: 3.75rem;
    border-radius: 5.5rem;
  }

  #blur {
    display: none;
    width: 100%;
    height: 67%;
    background-color: linear;
    position: absolute;
    top: 17rem;
    background: linear-gradient(black, transparent);;
  }

  #nav-links {
    display: none;
    position: absolute;
    width: 90%;
    height: 67rem;
    background-color: #fff;
    top: 0;
    margin: auto 0;
    left: 50%;
    border-radius: 1rem;
    transform: translate(-50%, 29%);
    justify-content: center;
    align-items: center;
  }

  nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
  }

  nav-links ul li {
    font-size: 4.8rem;
    margin-left: 0;
    cursor: pointer;
  }

  .close {
    display: none;
  }

  .ft-header {
    padding-left: 0;
  }

  .ft-header h1 {
    font-size: 6.5rem;
    width: 37rem;
    text-align: center;
    font-weight: 400;
    margin: auto;
    margin-bottom: 4rem;
  }
  .ft-header p {
    margin: auto;
    width: 74rem;
    text-align: center;
    font-size: 3.5rem;
  }

  .feature {
    flex-direction: column;
    gap: 10rem;
    width: 84vw;
  }
  .feature * {
    margin: auto;
    width: 100%;
  }
  .feature p {
    text-align: center;
  }
  .feature img {
    height: 16rem;
    width: 16rem;
  }
  .feature h1 {
    font-size: 5.5rem;
    text-align: center;
  }
  .feature p {
    display: inline;
    font-size: 3.5rem;
    width: 100%;
    margin-top: 6rem;
    line-height: 1.7;
  }
  .articles h1 {
    text-align: center;
    padding-left: 0;
    font-size: 7.5rem;
  }
  .cards {
    flex-direction: column;
    width: 90vw;
    gap: 8rem;
  }
  .card {
    padding-bottom: 10rem;
    border-radius: 1rem;
  }
  .card img {
    height: 50rem;
    width: 100%;
  }
  .author {
    font-size: 2.5rem;
    font-weight: 200;
  }
  .cd-title {
    font-size: 4.1rem;
    font-weight: 250;
    width: 70rem;
  }
  .des {
    font-size: 3.4rem;
    width: 75rem;
    font-weight: 400;
  }
  .author,
  .cd-title,
  .des {
    margin-top: 5.5rem;
    margin-left: 6.5rem;
  }
  footer {
    flex-direction: column;
    padding: 6.4rem;
  }
  .left-footer {
    flex-direction: column;
    gap: 4rem;
  }
  .first {
    align-items: center;
    gap: 6.8rem;
  }
  .third {
    transform: translateY(-30%);
  }
  .first > img {
    width: 40%;
  }
  .right-footer {
    align-items: center;
    gap: 3.2rem;
  }
  .third {
    margin-top: 4rem;
  }
  .second p,
  .third p {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 4rem;
    margin-bottom: 0;
    color: white;
  }
  .right-footer p {
    font-size: 3.6rem;
  }
  .logos {
    gap: 4.6rem;
  }
}
